<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- APP_TITLE %></title>
    <script type="importmap">
      {
        "imports": {
          "vue": "<%- SCENE_URL %>/libs/vue.runtime.esm-browser.prod.js",
          "element-plus": "<%- SCENE_URL %>/libs/element-plus.min.js",
          "@element-plus/icons-vue": "<%- SCENE_URL %>/libs/element-plus-icons.min.js",
          "@uino/kunpeng-property": "<%- SCENE_URL %>/libs/dashboard-property.min.js",
          "echarts": "<%- SCENE_URL %>/libs/echarts.esm.min.js"
        }
      }
    </script>
    <script src="<%- SCENE_URL %>/libs/thing.utils.min.js"></script>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
